
#report-container {
    padding: 1%;
}

#report-container .form-container {

    width: 60%;
    float: left;
}

#report-container .device-select-form {
    padding: 1em;
    width: 25%;
    float: left;
}


#report-container .report-form {
    padding: 1em;
    width: 70%;
    display: inline-block;
}


#report-container .bug-list-container {
    padding: 1em;
    width: 40%;
    float: left;
}


#report-form .step-input {
    rows: 5;
}

#report-form .result-input {
    rows: 5;
    margin-bottom: 10%;
}

#report-form .submit-btn {
    display: inline-block;
}

div.popup-overlay {
	visibility: hidden;
}

div.popup-content {
	visibility: hidden;
}

div.popup-overlay .active {
	visibility: visible;
}

div.popup-content .active {
	visibility: visible;
}
