{% extends 'base.html' %}
{% load form_tags widget_tweaks %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/bugreport.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.countdown.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
{% endblock %}


{% block content %}
<style>
	div.popup-overlay {
		visibility: hidden;
	}

	div.popup-content {
		visibility: hidden;
	}

	div.popup-overlay .active {
		visibility: visible;
	}

	div.popup-content .active {
		visibility: visible;
	}
</style>
	<div class="popup-overlay">
		<div class="popup-content">
			<h2>Bug Bash Session has ended!</h2>
			<p> please check Leaderboard for the result</p>
		</div>
	</div>

<div id="countdown">this is countdown
	<script src="{% static 'js/timer.js' %}"></script>
</div>
<div id="report-container">
    <div class="form-container">
        <form id="addBug" action="/bugreport/"  method="post" novalidate >
            {% csrf_token %}
            <div class="device-select-form">
                {% if submitted %}
                    <p class="success">
                        Your message was submitted successfully. Thank you.
                    </p>
                {% else %}
                <div class="card">
                    <div class="card-body">
                        <div>
                            <label for="id_device">Device:</label>
                            <select name="device" class="form-control " id="id_device">
                                <option value="6s" selected="">Iphone 6s 20140928</option>
                                <option value="Mini">Ipad Mini 20142706</option>

                            </select>
                            {% for error in form.device.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% if form.device.help_text %}
                            <small class="form-text text-muted">
                                {{ form.device.help_text|safe }}
                            </small>
                            {% endif %}
                        </div>
                        <div>
                            <label for="id_feature">Feature:</label>
                            <select name="feature" class="form-control " id="id_feature">
                                <option value="Camera" selected="">Theia/Camera</option>
                                <option value="Tstat Reg">Tstat Registration</option>
                            </select>
                            {% for error in form.feature.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% if form.feature.help_text %}
                            <small class="form-text text-muted">
                                {{ form.feature.help_text|safe }}
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="report-form">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <label for="id_summary">Summary:</label>
                                <input type="text" name="summary" maxlength="100" class="form-control " required="" id="id_summary">
                                {% for error in form.summary.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% if form.summary.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.summary.help_text|safe }}
                                </small>
                                {% endif %}
                            </div>
                            <div class="step-input">
                                <label for="id_steps">Steps:</label>
                                <textarea name="steps" cols="40" rows="6" maxlength="350" class="form-control " required="" id="id_steps"></textarea>
                                {% for error in form.steps.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% if form.steps.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.steps.help_text|safe }}
                                </small>
                                {% endif %}
                            </div>
                            <div class="result-input">
                                <label for="id_result">Result:</label>
                                <textarea name="result" cols="40" rows="6" maxlength="500" class="form-control " required="" id="id_result"></textarea>
                                {% for error in form.result.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% if form.result.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.result.help_text|safe }}
                                </small>
                                {% endif %}
                            </div>
                            <div class="submit-btn">
                                <button id="submit-report-btn" type="submit" class="btn btn-primary">
                                    Submit Report
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
        </form>
    </div>
    <div class="bug-list-container">
        <h3>Bug Reports</h3>
        <table id="userBugTable" class="table table-striped">
          <tr>
            <th colspan="3">Summary</th>
            <th>Action</th>
          </tr>
            <tbody id="userBugTableBody">
                {% if all_bugs %}
                {% for bug in all_bugs %}
                <tr>
                  <td>{{ bug.summary }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
      </div>
</div>

{% endblock content %}
{% block javascript %}
    <script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/hidenavbar.js' %}"></script>
{% endblock javascript %}

