{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
{% if "WELCOME" in message|stringformat:"s" %}
<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>

    {{ message }}
</div>

{% else %}
<div class="alert alert-danger">
    <a class="close" href="#" data-dismiss="alert">×</a>

    {{ message }}
</div>
{% endif %}
{% endfor %}

<div class="screen-container">
    {% if submitted %}
<p class="success">
    Your message was submitted successfully. Thank you.
</p>

{% else %}
<form action="" method="post" novalidate>
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
    {% csrf_token %}
</form>
{% endif %}
</div>

{% endblock content %}
