{% extends 'base.html' %}

{% block content %}

{% if msg %}
<script>
    alert('{{msg}}')

</script>
{% endif %}
<div class="container full-height">
    <div class="row align-items-center">
        <div class="login-container">
            <form action="/postsign/" method="post">
                {% csrf_token %}
                Email :
                <input type="email" name="email">
                Password:
                <input type="password" name="pass">
                <input type="submit" value="SignIn">
            </form>
        </div>

    </div>
</div>

{% endblock content %}
