<nav class="navbar navbar-dark bg-dark">
    <div class="container" style="max-width:100%">
        <a class="navbar-brand" href="#">ecobee QA</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/register" tabindex="-1" aria-disabled="true">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leaderboard">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>