{% extends 'base.html' %}

{% block content %}
<div class="container full-height">
    <div class="row align-items-center">
        <div class="screen-container">
            <h2>Register</h2>
            <form class="reg-login-form" method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-primary">Create an account</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
