{% extends 'base_accounts.html' %}
{% load static %}


{% block title %}Start Page{% endblock %}

{% block content %}
<div class="row justify-content-center" style="padding-bottom: 2rem;">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h2>Begin your bug bashing session!</h2></br>
                <p style="font-size:20px;">HOW IT WORKS:</p>
                <ol>
                    <li>Select the device that you are using for the session</li>
                    <li>Select the feature that you will be primarily testing (during the
                        session,
                        you can edit this, if you find a bug in another area of the app)
                    </li>
                    <li>Once you are ready, hit 'Start Bashing' button and a timer for 20
                        minutes
                        will start the session
                    </li>
                    <li>In 20 minutes, log as many bugs as you can find in the app. Once the
                        timer
                        is up, you can no longer submit any more bugs for this bug bash session
                    </li>
                    <li>DO NOT NAVIGATE AWAY AFTER STARTING SESSION!! Your session will be lost
                    </li>
                    <li>QA will verify the bugs reported and update the leaderboard. Check
                        the
                        leaderboard at anytime after the bug bash week to determine your rank
                    </li>
                </ol>
                </br>
                <h3>Prizes will be awarded for top 3 and a trophy for the first place</h3></br>
                <h3>Thank you for bashing and improving the Ecobee Mobile App</h3></br>
                {% for message in messages %}
                {% if "Enable" in message|stringformat:"s" %}
                <form class="reg-login-form" method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-primary"
                            style="float: right; background-color:#5bbd76;border-color:#5bbd76;">Start
                        Bashing
                    </button>
                </form>
                {% elif "Disable" in message|stringformat:"s" %}
                <h2>NEXT BUG BASH IN: 5 Days</h2>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block javascript %}
	<script src="{% static 'js/hidenavbar.js' %}"></script>
{% endblock javascript %}
